<h1>User Page</h1>

<%= link_to "My Buckets", user_buckets_path(current_user) %><br>
<%= link_to "Create New Bucket", new_user_bucket_path(current_user) %><br>
<%= link_to "Create New Item", new_item_path %><br>
